.zs-color-picker-panel[data-v-87d63fa8] {
  left: -190px;
  z-index: 999;
}

.zs-color-picker[data-v-87d63fa8] {
  width: 32px;
  height: 32px;
}

.zs-color-picker-btn[data-v-87d63fa8] {
  width: 100%;
  height: 100%;
}